<div class="span6 offset3 well authentication-required" id="authentication">
  <h1>Authentication required</h1>
  <p>
    You need to login in order to use Tyne. Don't worry if you haven't signed up yet.
    We will create an account for you as you sign in with Github.
  </p>
  <div class="sign-in-button">
    <%= link_to t("authentication.sign_in.github"), "/auth/github?redirect_url=#{params[:redirect_url]}", :class => "btn btn-large btn-success" %>
  </div>
</div>
