<% cache ["v9", "issue", 'edit', @issue] do %>
  <div class="span6 offset2 well">
    <%= render :partial => 'form', :locals => { :issue => @issue, :url => issue_path(:user => @project.user.username, :key => @project.key, :id => @issue.number) } %>
  </div>
  <div class="span2">
    <%= render :partial => "labels/labels", :locals => { :issue => @issue } %>
  </div>
<% end %>
