<% cache ["v8", "issue", "new", @project] do %>
  <div class="centered relative <%= @issue.issue_type.name.downcase %>">
    <%= render :partial => 'ribbon' %>
    <%= render :partial => 'form', :locals => { :issue => @issue, :url => issues_path } %>
  </div>
<% end %>
