<% cache ["v10", "issue", "new", @project] do %>
  <div class="span6 offset3 well">
    <%= render :partial => 'form', :locals => { :issue => @issue, :url => issues_path } %>
  </div>
<% end %>
<div class="span2">
  <%= render :partial => "labels/labels", :locals => { :issue => @issue } %>
</div>
