<div class="labels" data-cell="Labels">
  <h1>Manage Labels</h1>
  <%= simple_form_for :labels, :html => { :class => 'form-horizontal' } do |f| %>
    <ul class="labels-list">
      <%= render :partial => "labels/label", :collection => @issue.project.labels, :formats => [:pjax], :locals => { :f => f } %>
    </ul>
  <% end %>
  <%= render :partial => "labels/label_form", :locals => { :label => @label } %>
</div>
