<% cache ["v1", "users", "edit", current_user] do %>
  <div class="centered">
    <%= simple_form_for(@user, :as => :account, :validate => true, :url => account_settings_path(:user => @user.username)) do |f| %>
    <table>
      <tr>
        <td><%= f.input :name %></td>
      </tr>
      <tr>
        <td><%= f.input :notification_email %></td>
      </tr>
    </table>
    <%= f.button :submit, :class => "btn", :value => "Save" %>
  <% end %>
  </div>
<% end %>
