<div class="span6 offset3 well">
  <h1>Import Assistant</h1>
  <p>
    Your import is now being performed.  Please be patient whilst we are importing your data.
    This page will automatically upate when the import's finished.
  </p>
</div>
