defaults: &defaults
  omniauth:
    github:
      client_id: your-github-client-id
      client_secret: your-github-client-secret

production:
  <<: *defaults

  smtp:
    address: "mailserver"
    username: "username"
    password: "password"
    from: "me@example.com"
    domain: "www.example.com"

development:
  <<: *defaults

test:
  <<: *defaults
