<div class="Votes" data-cell="Votes">
  <a class="VoteUp" href="<%= @upvote_path %>"></a>
  <div class="TotalVotes"><%= @total_votes %></div>
  <a class="VoteDown" href="<%= @downvote_path %>"></a>
</div>
