<% cache ["v3", "dashboard", project] do %>
  <li>
    <a href="<%= backlog_path(:user => project.user.username, :key => project.key) %>">
      <%= project_icon(project) %>
      <%= project.full_name %>
      <%= issue_number(project) %>
    </a>
  </li>
<% end %>
