.board {
  .well {
    padding: 0;
  }

  h3 {
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: -0.05em;
    color: #777;
    text-align: center;
    margin-bottom: 0px;
  }

  .board-drag-information {
    color: #CCC;
    padding: 20px;
    text-align: center;
  }

  .work-items {
    border-top: 1px dashed #ddd;
    min-height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;

    .work-item {
      border-top: 1px solid #CCC;

      table {
        width: 100%;
      }

      .work-item-main {
        padding-left: 10px;
      }

      .dragger {
        height: 50px;
        width: 8px;
      }

      &.state-bug {
        .dragger { background-color: #F03826; }
      }

      &.state-feature {
        .dragger { background-color: #44A143; }
      }

      &.state-enhancement {
        .dragger { background-color: #3A5A64; }
      }

      &.state-story {
        .dragger { background-color: #A81F5E; }
      }

      &.state-task {
        .dragger { background-color: #F2811D; }
      }

      .td-last {
        width: 40px;
      }

      .work-item-content {
        height: 50px;

        @include background-image(linear-gradient(#fff, #f8f8f8));

        &:hover {
          background: #f8f8f8;
        }
      }
    }
  }
}

.board[data-collab="true"] .work-item {
  &:hover {
    cursor: move;
  }

  .dragger {
    background: image-url('drag.png') 3px 2px repeat-y;
  }
}

.board-placeholder-element {
  height: 52px;
  background-color: lighten(#44A143, 52%);
  border-bottom: 1px solid #CCC;
}
