.issue-list {
  table {
    width: 100%;

    tr.issue {
      @include border-radius(4px);

      &.done, &.invalid {
        opacity: 0.2;
      }

      &:hover {
        opacity: 1.0;
      }

      &.state-bug {
        td:first-child { background-color: #F03826; }
        &:hover { background: lighten(#F03826,44%);}
      }

      &.state-feature {
        td:first-child { background-color: #44A143; }
        &:hover { background: lighten(#44A143, 52%);}
      }

      &.state-enhancement {
        td:first-child { background-color: #3A5A64; }
        &:hover { background: lighten(#3A5A6A,60%);}
      }

      &.state-story {
        td:first-child { background-color: #A81F5E; }
        &:hover { background: lighten(#A81F5E,58%);}
      }

      &.state-task {
        td:first-child { background-color: #F2811D; }
        &:hover { background: lighten(#F2811D,44%);}
      }

      td:first-child {
        @include border-left-radius(4px);
        background-color: #333;
        border-bottom: 1px solid #ccc;

        width: 10px;
        padding: 0px;
      }

      td:last-child {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 5px;
      }

      background-color: #fff;

      .issue-options {
        width: 50px;
        vertical-align: top;
        > input {
          margin: 4px;
        }
      }

      p {
        margin: 0;
      }

      .issue-summary {
        font-weight: bold;
        color: #555;
      }

      .issue-description {
        font-size: small;
        color: #bbb;
      }

      .issue-key {
        display: inline-block;
        min-width: 60px;
      }

      .issue-closed, .issue-done, .issue-invalid {
        text-decoration: line-through;
      }
    }
  }

  &.issue-minimal {
    .issue-line-1 { display: auto; }
    .issue-type-short { display: auto; }
    .issue-line-2 { display: none; }
    .issue-line-3 { display: none; }
  }

  &.issue-compact {
    .issue-line-1 { display: auto; }
    .issue-type-short { display: none; }
    .issue-line-2 { display: none; }
    .issue-line-3 { display: auto; }
  }

  &.issue-detailed {
    .issue-line-1 { display: auto; }
    .issue-type-short { display: none; }
    .issue-line-2 { display: auto; }
    .issue-line-3 { display: auto; }
  }

  .issue-line-3 {
    padding-bottom: 4px;
  }

  .issue-assigned_to {
    position: absolute;
    right: 25px;
    font-size: small;
  }

  .comments-present {
    color: #333;
    background-color: #FCFCE9;
    font-weight: bold;
    @include border-radius(2px);
  }
}

.Sorting {
  .control-group {
    display: inline-block;
    select {
      width: auto;
    }
  }

  form {
    margin: 0;
  }
}

h2.issue-summary {
  font-size: 20px;
}

.create-another-issue {
  display: inline;
  vertical-align: middle;

  input[type=checkbox] {
    margin: 0px;
    float: none;
  }

  label { display: inline; }
}
