.search-form {
  margin-right: 10px;

  form {
    margin-bottom: 0px;
  }

  div.controls {
    padding-right: 0;

    input {
      margin-top: 0px;
      padding: 4px 10px;
      width: 175px;
    }
  }
}
