.planning {
  margin-top: 38px;
  .planning-new {
    padding: 20px;
    border: 3px dashed #CCC;
    cursor: pointer;
    color: #CCC;
    text-align: center;
    font-size: 1em;

    &:hover {
      border-color: #BBB;
      color: #BBB;
    }
  }

  .planning-sprint {
    .planning-sprint-name {
      color: #333;
      font-size: 1.7em;
      padding: 10px;
      display: inline-block;
    }

    .sprint-header {
      border-bottom: 1px solid #ccc;
      padding-right: 5px;
    }

    div.planning-sprint-drag-information {
      color: #CCC;
      padding: 20px;
      text-align: center;
    }
  }
}

.backlog {
  .backlog-headline {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    .backlog-headline-content {
      color: #333;
      font-size: 1.7em;
    }
  }
}

.backlog-items, .planning-sprint-items {
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 50px;
  list-style-type: none;

  li.issue {
    border-bottom: 1px solid #CCC;
    position: relative;

    .issue-details {
      border-top: 1px solid #EFE;
    }

    &.state-bug {
      div:first-child { background-color: #F03826; }
    }

    &.state-feature {
      div:first-child { background-color: #44A143; }
    }

    &.state-enhancement {
      div:first-child { background-color: #3A5A64; }
    }

    &.state-story {
      div:first-child { background-color: #A81F5E; }
    }

    &.state-task {
      div:first-child { background-color: #F2811D; }
    }

    &:hover {
      .td-first, .td-second {
        background-color: #EEE;
        cursor: move;
      }
    }

    &.collapsed {
      background: image-url("arrow_state_grey_collapsed-2.png") 99% 5px no-repeat;

      .issue-details {
        display: none;
      }
    }

    &.expanded {
      background: image-url("arrow_state_grey_expanded.png") 99% 5px no-repeat;

      .issue-details {
        display: block;
      }
    }

    div:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 34px;
      padding: 0px;
      display: block;
      background: image-url('drag.png') 3px 2px repeat-y;
    }

    div.td-second {
      padding-left: 10px;
      height: 34px;
    }

    p {
      padding: 2px 25px 2px 2px;
      margin: 0px;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.backlog-placeholder-element {
  height: 27px;
  background-color: lighten(#44A143, 52%);
  border-bottom: 1px solid #CCC;
}

.estimates {
  position: absolute;
  right: 5px;
}

.estimates:not(.editing_in_place) {
  background: #fafafa;
  border: 1px solid #ccc;
  @include border-radius(4px);
  padding: 4px;
  min-width: 20px;
  text-align: center;
}

.form_in_place {
  display: inline;
  .estimate {
    width: 20px;
    margin-bottom: 0px;
  }
}
