table.overview {
  width: 100%;

  td {
    vertical-align: top;
  }
  td.td-first {
    width: 30%;
  }

  .user-joined {
    color: #888888;
  }

  .portrait {
    border: 10px solid #EEEEEE;
    @include border-radius(8px);
  }
}

table.overview-project {
  .description {
    font-size: small;
    color: #888;
  }

  td.td-last {
    width: 35%;

    span {
      display: block;
      text-align: left;
      padding-left: 20px;

      &.overview-project-issues {
        background: transparent image-url('icon-sweets/16/open-issues.png') 0px 2px no-repeat;
      }

      &.overview-project-collaborators {
        background: transparent image-url('icon-sweets/16/collaborators.png') 0px 2px no-repeat;
      }
    }
  }
}

.overview {
  .user-name {
    display: inline-block;
    width: 100%;
    color: #333;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
  }
}
