<%= content_tag :ul, :data => { :cell => "Search" }, :class => "Search" do %>
  <li><%= link_to "Open Issues", "#", :class => "selected" %></li>
  <li><%= link_to "My Open Issues", "#" %></li>
<% end %>
