<% content_for :head_assets do %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
<% end %>

<div class="span12">
  <div class="well">
    <h1 class="report-headline">Burn Down</h1>
    <p class="report-description">This report displays the burn down chart and activity for the current sprint.</p>

    <div id='chart'></div>
    <%= render_chart(@chart, 'chart') %>
  </div>
</div>
