<div class="span12">
  <div class="well">
    <ul>
      <li><%= link_to "Issue Type Ratio", main_app.issue_type_ratio_reports_path(:user => @user.username, :key => @project.key) %></li>
    </ul>
  </div>
</div>
