<div class="span12">
  <div class="well reports">
    <ul>
      <li>
        <h2>Burn Down Chart</h2>
        <p>Displays a graph that represents your work left to do versus time for the current sprint.</p>
        <%= link_to "View Burn Down Chart", burn_down_reports_path(:user => @user.username, :key => @project.key) %>
      </li>
      <li>
        <h2>Issue Type Ratio</h2>
        <p>Displays a pie chart the represents the ratio of your issue types.</p>
        <%= link_to "View Issue Type Ratio Report", issue_type_ratio_reports_path(:user => @user.username, :key => @project.key) %>
      </li>
    </ul>
    <br />
  </div>
</div>
